.add-button {
	-fx-background-color: #00b894;
}
.update-button {
	-fx-text-fill: white;
	-fx-background-color: #0984e3;
}
.delete-button {
	-fx-text-fill: white;
	-fx-background-color: #6c5ce7;
}
.search-button {
	-fx-text-fill: white;
	-fx-background-color: #636e72;
}

/*.mfx-button .mfx-ripple-generator {
	-mfx-ripple-radius: 40;
	-mfx-auto-clip: true;
}*/

/*.mfx-button .text {
	-fx-font-smoothing-type: gray;
}

#custom {
	-fx-background-color: -mfx-purple;
	-fx-text-fill: white
}

.outline-button {
	-fx-background-color: transparent;
	-fx-border-color: -mfx-purple;
	-fx-border-radius: 3;

	-fx-text-fill: -mfx-purple;
}

.outline-button:hover,
.outline-button:focused {
	-fx-background-color: -mfx-purple;
	-fx-text-fill: white;
}


.link-button {
	-fx-background-color: transparent;
	-fx-border-radius: 3;
	-fx-text-fill: #0096FF;
	-fx-underline: true;
	-fx-cursor: hand;
}

.link-button:armed,
.link-button:focused {
	-fx-border-color: #006BFF;
	-fx-text-fill: #006BFF;
}

.link-button .mfx-ripple-generator {
	-mfx-ripple-color: #D9E9FF;
}*/

/* text fields*/
.mfx-text-field {
	-fx-min-width: 130;
	-fx-font-family: 'Open Sans SemiBold';
}

.mfx-text-field .floating-text {
	-fx-font-family: 'Open Sans SemiBold';
}


#customField {
	-fx-border-color: -common-gradient;
}

#customField .floating-text {
	-fx-text-fill: -mfx-red;
}